<template>
  <v-container class="text-center ">
    <h1>Posts</h1>
    <v-row class="text-right">
      <v-col cols="9"></v-col>
      <v-col cols="3">
        <v-select
          :items="items"
          v-model="select"
          label="Filtro"
          item-text="texto"
          item-value="valor"
          v-on:change="seleccionar"
        ></v-select>
      </v-col>
    </v-row>
    <v-row class="text-center">
      <v-col cols="3" v-for="post in postsbase" v-if="filtro(post)">
        <Post :elemento="post"
      /></v-col>
      <!-- <v-col cols="3"> <Post :elemento="postsbase[1]"/></v-col>
      <v-col cols="3"> <Post :elemento="postsbase[2]"/></v-col>
      <v-col cols="3"> <Post :elemento="postsbase[3]"/></v-col>
      <v-col cols="3"> <Post :elemento="postsbase[4]"/></v-col>
      <v-col cols="3"> <Post :elemento="postsbase[5]"/></v-col>
      <v-col cols="3"> <Post :elemento="postsbase[6]"/></v-col>
      <v-col cols="3"> <Post :elemento="postsbase[7]"/></v-col> -->
    </v-row>
  </v-container>
</template>

<script>
import axios from "axios";
import Post from "@/components/Post.vue";
export default {
  components: {
    //Login,
    Post,
  },
  data() {
    return {
      select: { texto: "Todos", valor: "0" },
      valorFiltro: 0,
      items: [
        { texto: "Todos", valor: "0" },
        { texto: "Entre 1M y 5M", valor: "1" },
        { texto: "Entre 5M y 10M", valor: "2" },
      ],

      post: {
        userId: null,
        id: null,
        title: "",
        body: "",
        status: null,
        amount: null,
      },
      postsbase: [],
    };
  },
  methods: {
    getRandom(min, max) {
      min = Math.ceil(min);
      max = Math.floor(max);
      return Math.floor(Math.random() * (max - min + 1) + min);
    },
    seleccionar(a) {
      //this.$router.push({path: a })
      console.log("Seleccionado " + a);
      this.valorFiltro = a;
    },
    filtro(obj) {
      if (obj.status > 0) {
        if (this.valorFiltro > 0) {
          if (this.valorFiltro > 1) {
            if (obj.amount > 4999999 || obj < 10000000) {
              console.log("verdadero->" + obj.amount);
              return true;
            } else {
              console.log("falso->" + obj.amount);
              return false;
            }
          } else {
            if (obj.amount > 0 || obj < 5000000) {
              console.log("verdadero->" + obj.amount);
              return true;
            } else {
              console.log("falso->" + obj.amount);
              return false;
            }
          }
        }
        return true;
      }
      return false;
    },
  },
  created() {
    if (!this.$store.state.user.id) {
      this.$router.push("/login");
    } else {
      axios.get("https://jsonplaceholder.typicode.com/posts").then((result) => {
        result.data.forEach((element) => {
          let post = {
            userId: null,
            id: null,
            title: "",
            body: "",
            status: null,
            amount: null,
          };

          post.userId = element.userId;
          post.id = element.id;
          post.title = element.title;
          post.body = element.body;
          post.status = this.getRandom(0, 1);
          post.amount = this.getRandom(1, 15000000);
          this.postsbase = [post, ...this.postsbase];
        });
        //console.log(this.postsbase[99]);
      });
    }
  },
};
</script>

<style></style>
