<template>
  <v-main>
    <v-container class="text-center ">
      <v-card elevation="8">
        <h3>Login</h3>

        <v-form class="pa-5">
          <p v-if="error.length" class="red--text">{{ error }}</p>
          <p v-if="message.length" class="green--text">{{ message }}</p>
          <v-row class="text-center pa-2">
            <v-col cols="12">
              <v-text-field
                label="Usuario"
                hide-details="auto"
                v-model="user"
                v-mask="'##.###.###-#'"
              ></v-text-field>
            </v-col>
          </v-row>

          <v-row class="text-center pa-2">
            <v-col cols="12">
              <v-text-field
                type="password"
                label="Clave"
                hide-details="auto"
                v-model="clave"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-btn @click="ingresar()">Login</v-btn>
        </v-form>
      </v-card>
    </v-container>
  </v-main>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      user: "", // "16.460.269-9",
      clave: "", //"123qwe",
      error: "",
      message: "",
    };
  },
  methods: {
    ingresar() {
      //console.log("user:" + this.user);
      let post = {
        rut: this.user,
        password: this.clave,
        remember_me: 1,
      };
      axios.post("https://crm.redcapital.cl/api/login", post).then((result) => {
        console.log(result.data);
        this.error = "";
        this.message = "";
        if (result.data.status == 200) {
          console.log(result.data.message);
          this.message = result.data.message;
          this.$store.state.user.id = result.data.data.usuario.id;
          this.$store.state.user.nombre = result.data.data.usuario.nombre;
          this.$store.state.user.apellido = result.data.data.usuario.apellido;
          this.$store.state.user.email = result.data.data.usuario.email;
          this.$store.state.user.rut = result.data.data.usuario.rut;
          this.$store.state.user.access_token = result.data.data.access_token;

          this.$router.push("/");
        } else {
          console.log("error-> " + result.data[0]);
          this.error = result.data[0];
        }
      });
    },
  },
};
</script>

<style></style>
