<template>
  <v-container>
    <v-card elevation="8">
      <v-img
        max-height="150"
        max-width="200"
        src="https://source.unsplash.com/random/130x200/?nature"
      ></v-img>

      <v-card-title> {{ this.cortar(elemento.title, 20) }} </v-card-title>
      <v-card-text>{{ this.cortar(elemento.title, 150) }}</v-card-text>
      <span> Status: {{ elemento.status }} </span> <br />
      <span> Amount: {{ elemento.amount }} </span>
    </v-card>
  </v-container>
</template>

<script>
export default {
  props: {
    elemento: {
      type: Object,
      default: () => ({}),
    },
  },
  data() {
    return {
      // algo
    };
  },
  methods: {
    cortar(cadena, max) {
      return String(cadena).substring(0, max);
    },
  },
};
</script>

<style></style>
