<template>
  <v-app>
    <v-banner color="grey">
      <v-row>
        <v-col class="text-left ">
          <v-img max-height="30" max-width="30" src="./assets/logo.png"></v-img
        ></v-col>
        <v-col class="text-right ">
          <span class="white--text" style="margin-left: 15px;">Inicio</span>
          <span class="white--text" style="margin-left: 15px;"
            >Quienes Somos
          </span>
          <span class="white--text" style="margin-left: 15px;">Programas </span>
          <span class="white--text" style="margin-left: 15px;"
            >Como Funciona</span
          >
        </v-col>
      </v-row>
    </v-banner>
    <v-banner color="white">
      <v-row>
        <v-col v-if="this.$store.state.user.id" class="text-left">
          <div>
            <v-menu offset-y>
              <template v-slot:activator="{ on, attrs }">
                <v-btn color="accent" dark v-bind="attrs" v-on="on">
                  Menu
                </v-btn>
              </template>
              <v-list>
                <v-list-item>
                  <v-list-item-title @click="irPost">Post</v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
          </div>
        </v-col>
        <v-col class="text-right">
          <v-btn v-if="!this.$store.state.user.id" @click="irLogin"
            >Login</v-btn
          >
          <v-btn v-if="this.$store.state.user.id" @click="logout"
            >Logout({{ this.$store.state.user.nombre }})</v-btn
          >
        </v-col>
      </v-row>
    </v-banner>
    <router-view />
  </v-app>
</template>

<script>
//import Login from "./components/Login";

export default {
  components: {
    //Login,
  },
  // name: "App",

  data: () => ({}),
  methods: {
    irLogin() {
      this.$router.push("/login");
    },
    logout() {
      this.$store.state.user.id = null;
      this.$store.state.user.nombre = "";
      this.$store.state.user.apellido = "";
      this.$store.state.user.email = "";
      this.$store.state.user.rut = "";
      this.$store.state.user.access_token = "";
      this.$router.push("/login");
    },
    irPost() {
      this.$router.push("/posts");
    },
  },
};
</script>
